@import url("https://fonts.googleapis.com/css2?family=Acme&family=Qahiri&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  padding-top: 10px;
}
.logo {
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}
.logo:hover {
  color: tomato;
  transition: 0.3s;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu ul li a {
  padding: 0px 20px;
  text-decoration: none;
  color: black;
}
.menu ul li a:hover {
  color: tomato;
  text-decoration: underline;
  transition: 0.3s;
}
.sigin-btn button {
  align-content: center;
  font-size: 15px;
  padding: 10px;
  border: none;
  background-color: tomato;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(204, 76, 54);
  transition: 0.3s;
}
/* main design */
.main {
  display: flex;
  justify-items: space-between;
  align-items: center;
  margin: 30px;
}
span {
  color: red;
  font-size: 70px;
}
span:hover {
  color: rgb(113, 158, 40);
  transition: 0.3s;
}

.side1 {
  padding-right: 50px;
  margin-right: 50px;
  margin-left: 100px;
}
.side2 {
  text-align: center;
  margin-left: 100px;
  line-height: 30px;
}
h1 {
  padding-bottom: 30px;
}
